<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Virtual Scroll Test
    </ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-label>Scroll to:</ion-label>
    <ion-input type="number" [(ngModel)]="index" [max]="itemsCount" min="0"></ion-input>
    <ion-button (click)="scrollTo()">GO</ion-button>
  </ion-item>

  <ion-item>
    <ion-label>Number of cols</ion-label>
    <ion-select [(ngModel)]="cols">
      <ion-select-option [value]="1">1</ion-select-option>
      <ion-select-option [value]="2">2</ion-select-option>
      <ion-select-option [value]="3">3</ion-select-option>
      <ion-select-option [value]="4">4</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Number of items:</ion-label>
    <ion-input type="number" [(ngModel)]="itemsCount" min="0"></ion-input>
    <ion-button (click)="fillItems()">GO</ion-button>
  </ion-item>
</ion-header>

<ion-content [scrollY]="false">
  <ng-container>
    <cdk-virtual-scroll-viewport class="ion-content-scroll-host" #scroller customVirtualScrollStrategy
      [itemHeights]="list" [numCols]="cols">
      <ion-row>
        <ion-col class="list-group-item" *cdkVirtualFor="let item of list; let i = index" [style.height.px]="item"
          [size]="12 / cols">
          <div>
            Item {{i}} - Height: {{item}}
          </div>
        </ion-col>
      </ion-row>
    </cdk-virtual-scroll-viewport>
  </ng-container>
</ion-content>